{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/areaVideo/videosUsuario.css' %}">
    </head>
    <body>
        <div class="tudo">
            <div class="videosUsuario">
                <div class="videos">
                    <div class="descricaoUsuario">
                        <img src="" alt="">
                        <h1>Usuario</h1>
                    </div>
                    <div class="videos">
                        <video src=""></video>
                        <p>descricao do video</p>
                        <button><img src="" alt="comentario"></button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>